#tweet_input{
    resize: none;
    width: 100%;
    height: 50px;
}

#tweet_empty_mess{
    display: none;
    float: right;
}

#post_button_area{
    position: absolute;
    top: 0;
    left: 0;
    width: 22%;
    height: 40px;
}

#post #loadMore{
    width: 20%;
}

.tweetDelConfBox{
    float: right;
    position: relative;
    margin-right: 30px;
    margin-top: 0px;
    display: none;
}

.tweetDelButton{
    float: right;
    color: #c0c0c0;
}
